*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

a,
a:visited {
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

html {
    box-sizing: border-box;
    font-size: 62%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    color: #3b3636;
    background-color: #dee0e5;
    font-weight: 200;
    line-height: 1.6rem;
    margin: 0 5%;
}

hr {
    display: flex;
    width: 90%;
    margin: 2rem auto;
    clear: both;
    border: 0;
    height: 1px;
    background-color: #999;
}

.heading-1,
.heading-2,
.heading-3,
.heading-4 {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

.heading-main {
    font-size: 3.5rem;
    text-transform: uppercase;
    color: #1c81c0;
    font-weight: 700;
    line-height: 1;
}

.heading-sub {
    font-size: 2.5rem;
    color: rgb(236, 181, 60);
    line-height: 1;
}

.heading-2 {
    font-size: 2rem;
    font-style: italic;
    line-height: 1;
}

.heading-3 {
    font-size: 1.6rem;
    color: #f9f7f6;
    text-transform: uppercase;
}

.heading-4 {
    font-size: 1.5rem;
    color: #c2b8b3;
}

.heading-4-dark {
    color: #10366a;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 700;
}

.btn {
    background-color: rgb(236, 181, 60);
    color: #eee;
    border: none;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 1.5rem 3rem;
    cursor: pointer;
    transition: all 0.2s;
    border-radius: 1rem;
}

.btn:hover {
    background-color: rgb(204, 149, 73);
}

.top-header {
    display: flex;
    align-items: center;
    z-index: 1000;
}

.logo-box {
    height: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 100%;
}

.log-in-box {
    width: 600px;
    display: flex;
    text-align: right;
    list-style: none;
    margin-right: 0%;
}

.btn-signup,
.btn-login {
    border-radius: 15px;
    background-color: rgb(45, 65, 132);
    border: none;
    width: 15rem;
    transition: all 0.3s;

    &:hover {
        background-color: rgba(43, 28, 83, 0.7);
    }
}

.btn-signup {
    background-color: rgb(249, 87, 56);

    &:hover {
        background-color: rgba(249, 87, 56, 0.8);
    }
}


.socialIcons {
    display: flex;
    height: 3rem;
    text-align: center;
    list-style: none;
    align-items: center;
    font-size: 2rem;
    justify-content: flex-end;
}

.fa {
    padding: 1rem;
    margin-right: 2rem;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 2rem;
    color: #fff;
}

.fa:hover {
    opacity: 0.5;
}

.fa-facebook {
    background: #3b5998;
}

.fa-twitter {
    background: #55acee;
}

.fa-youtube {
    background: #f30606;
}

.fa-instagram {
    background: #757fdd;
}

/* magic menu starts here */

.navigation {
    height: 0;
    width: 0;
}

.nav-checkbox {
    display: none;
}

.nav-button {
    background-image: radial-gradient(#1c81c0, #fff);
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    height: 6rem;
    width: 6rem;
    position: fixed;
    top: 2.7rem;
    right: 3rem;
    border-radius: 50%;
    z-index: 2000;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 0 4rem #fff;
    border: 0.1px solid #fff;
}

.nav-overlay {
    height: auto;
    transform: translateX(-200rem);
    top: 10rem;
    z-index: 1500;
    transition: all 0.5s;
}

.nav-item {
    width: 26%;
    display: inline-block;

    &:not(:last-child) {
        margin-right: 3rem;
    }

    &:not(:first-child) {
        margin-top: 2rem;
    }
}

.nav-link:link,
.nav-link:visited {
    display: inline-block;
    font-size: 3rem;
    font-weight: 400;
    padding: 1rem;
    color: #fff;
    text-transform: lowercase;
    transition: all 0.3s;
}

.nav-link:hover,
.nav-link:active {
    border-radius: 0.5rem;
    background-color: #226d64;
}

.nav-checkbox:checked~.nav-overlay {
    position: fixed;
    transform: translateX(0);
    transition: transform 0.7s cubic-bezier(0.56, 0.1, 0.34, 0.91);
    background-color: #132b57;
    /* font-size: 2rem;
    margin-top: 10rem; */
    left: 5rem;
    right: 5rem;
    opacity: 0.95;
    padding: 2rem 9rem;
    z-index: 1500;
}

.nav-bar {
    position: relative;
    margin-top: 2.7rem;
}

.nav-bar,
.nav-bar::before,
.nav-bar::after {
    width: 3rem;
    height: 2px;
    background-color: #fff;
    display: inline-block;
}

.nav-bar::before,
.nav-bar::after {
    content: " ";
    position: absolute;
    left: 0;
    transition: all 0.3s;
}

.nav-bar::before {
    top: -0.7rem;
}

.nav-bar::after {
    top: 0.7rem;
}

.nav-checkbox:checked+.nav-button .nav-bar {
    background-color: transparent;
    transition: 0.2s background linear 0.1s, 0.2s top linear,
        0.2s transform linear 0.2s;
}

.nav-checkbox:checked+.nav-button .nav-bar::before {
    top: 0;
    transform: rotate(45deg);
    transition: 0.2s background linear 0.1s, 0.2s top linear,
        0.2s transform linear 0.2s;
}

.nav-checkbox:checked+.nav-button .nav-bar::after {
    top: 0;
    transform: rotate(-45deg);
    transition: 0.2s background linear 0.1s, 0.2s top linear,
        0.2s transform linear 0.2s;
}

.header {
    display: flex;
    height: 60vh;
    grid-column: 1 / span 7;
    background-size: cover;
    background-position: center;
    padding: 8rem;

    flex-direction: column;
}


.header-btn {
    align-self: start;
    justify-self: start;
}

.header-down {
    font-size: 30px;
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: flex-end;
}

.header-company-text {
    display: grid;
    grid-template-columns: 1fr minmax(min-content, max-content) 1fr;
    grid-column-gap: 2.5rem;
    align-items: center;
    font-size: 2.6rem;
    color: #00122f;
}

.header-company-text::before,
.header-company-text::after {
    content: "";
    height: 1px;
    display: block;
    background-color: currentColor;
}

.header-company-logos {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    grid-column-gap: 2rem;
    justify-items: center;
    align-items: center;
    font-size: 30px;
}

.header-company-logos img {
    max-height: 8rem;
    max-width: 100%;
    filter: brightness(70%);
}

.side-signup {
    grid-column: 8 / spen 4;
    margin: 3rem 1rem;
    padding: 2rem 3rem;
    text-align: center;
    grid-gap: 1rem;
    grid-template-rows: auto;
    font-size: 1.5rem;
}

.facebook,
.twitter,
.google {
    background-color: #0079ce;
    font-size: 2rem;
    border: none;
    border-radius: 5px;
    color: #f4f4f4;
    cursor: pointer;
    height: 5rem;
    text-transform: uppercase;
    width: 25rem;
    padding-left: 2rem;
    margin-bottom: 1rem;
}

.twitter {
    background-color: #1bb2e9;
}

.google {
    background-color: red;
}

#mentors {
    height: 20vh;
    margin-top: 5rem;
    grid-column: center-start / center-end;
    grid-column: 1 / -1;
    border: 1px solid #fff;
    padding: 5rem 10rem;
    display: flex;
    align-content: center;
    justify-content: center;
    justify-items: center;
    grid-column-gap: 2rem;

    .mentor-heading {
        font-size: 2.2rem;
        margin-top: 5rem;
        color: #1a1111;
        font-weight: 400;
        align-self: start;
        justify-self: start;
        border-right: 1px solid #999;
    }
}

.mentors-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(12rem, max-content));
    grid-column-gap: 5rem;
    align-items: center;
    margin: 3rem 5rem;
}

.mentors-img {
    width: 10rem;
    border-radius: 50%;
    display: block;
}

.mentors-achievment {
    text-transform: uppercase;
    color: #aaa;
    margin-top: -3px;
}

.features {
    grid-column: center-start / center-end;
    margin: 15rem 0;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(5, minmax(22rem, 1fr));
    grid-gap: 6rem;
    align-items: center;
}

.feature {
    display: grid;
    grid-gap: 2rem;
    margin-bottom: 3rem;
    background-color: #f5eeee;
    height: 100%;
    border-radius: 5px;
    padding: 2rem 1rem;
    text-align: center;
    transition: all 0.4s;
}

.feature:hover {
    transform: translateY(-1rem);
    box-shadow: 0 0.5rem 0.5rem #eee;
    border-bottom: 1px solid orange;
}

.feature-icon {
    width: 10rem;
    height: 10rem;
    text-align: center;
}

.feature-icon--pic {
    margin-top: 3rem;
    margin-left: 6rem;
    width: 10rem;
    height: auto;
}

.feature-text {
    font-size: 1.8rem;
    text-align: center;
}



.courses {
    grid-column: center-start / center-end;
    margin: 5rem 0;
    display: grid;
    grid-template-columns: repeat(4, minmax(min-content, 1fr));
    grid-row-gap: 3rem;
    grid-column-gap: 5rem;
}

.course {
    background-color: #fcf0cf;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 1.5rem;
}

.course-img {
    width: 30%;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    z-index: 1;
    margin: 5rem auto;
}

.course-like {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    fill: #aaa;
    height: 2rem;
    width: 2rem;
    justify-self: start;
    margin: 1rem;
}

.course-name {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    justify-self: center;
    align-self: end;
    width: 80%;
    font-size: 1.6rem;
    text-align: center;
    padding: 1.25rem;
    background-color: #101d2c;
    color: #fff;
    font-weight: 400;
}

.course-location,
.course-limit {
    margin-top: 2.5rem;
}

.course-location,
.course-limit,
.course-area,
.course-price {
    font-size: 1.5rem;
    margin-left: 2rem;
    display: flex;
    align-items: center;
}

.course-location svg,
.course-limit svg,
.course-area svg,
.course-price svg {
    fill: #aaa;
    height: 2rem;
    width: 2rem;
    margin-right: 1rem;
}

.course-btn {
    grid-column: 1 / -1;
    margin-top: 2rem;
}


.footer {
    color: #3c73ec;
    width: 100vw;
    background-color: #494747;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.footer-nav {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1rem;
    align-items: center;
    height: 5rem;

    .footer ul li {
        height: 100%;
        font-size: 1.8rem;
        font-weight: 600;
    }

    .footer-nav-link,
    .footer-nav-link:link,
    .footer-nav-link:visited {
        line-height: 2 rem;
        font-weight: 400;
        color: #fff;
        text-align: center;
        display: block;
        transition: all 0.3s;
        border: 1px solid #ccc;
        border-radius: 2rem;
        background-color: orange;
        height: 100%;
    }

    .footer-nav-link,
    .footer-nav-link:link,
    .footer-nav-link:visited {
        line-height: 2 rem;
        font-weight: 400;
        color: #fff;
        text-align: center;
        display: flex;
        transition: all 0.3s;
        border-radius: 2rem;
        background-color: #0f2350;
        height: 100%;
        align-items: center;
        justify-content: center;
        background-color: #0f2350;
        transform: translateY(-3px);
        border-radius: 2rem;
    }

    .footer-nav:hover {
        background-color: goldenrod;
    }

    .footer-sm-icon {
        color: #777;
        margin: 3rem auto;
        text-align: center;
        display: flex;
        height: 5rem;
        align-items: center;
        justify-content: center;
        list-style: none;
        font-size: 2rem;
    }
}


.fa {
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 2rem;
    color: #fff;

    &:not(:last-child) {
        margin-right: 5rem;
    }
}

.fa:hover {
    opacity: 0.5;
}

.fa-facebook {
    background: #3b5998;
}

.fa-twitter {
    background: #55acee;
}

.fa-youtube {
    background: #f30606;
}

.fa-instagram {
    background: #757fdd;
}

.copy {
    font-size: 1.6rem;
    color: #999;
    margin: 2rem auto;
    text-align: center;
    margin-bottom: 2rem;
}